// logo 

.logo{
	color: var(--accent-color);
	font-family: var(--logo-font);
	font-weight: 700;
	font-size: 24px;
	line-height: 1.16;

	padding-top: 16px;
	padding-bottom: 16px;
	text-decoration: none;
	transition: color 250ms var(--timing-function);

	@media screen and (min-width: 1200px) {
			font-size: 26px;
			line-height: 1.15;
		}

	&--white {
			color: var(--main-white-color);
			.logo:hover &,
			.logo:focus &{
				color: var(--accent-color);
			}
		}
	
		&--black {
			color: var(--logo-main-color);
			.logo:hover &,
			.logo:focus & {
				color: var(--accent-color);
				}
		}
		
		
}
