/* footer */

.page-footer {
	background-color: var(--secondary-background-color);
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer-container {

	text-align: center;
	

	@media screen and (min-width: 480px) {}
	
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	
	@media screen and (min-width: 1200px) {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		text-align: left;
		}
}
//address

.footer-address {
	font-style: normal;
	line-height: 1.71;
	margin-bottom: 60px;

	@media screen and (min-width: 1200px) {
		margin-bottom: 0px;
	}

	&__street {
			color: var(--main-white-color);
			margin-top: 20px;
		}
	&__mail {
	color: var(--addrees-color);
	margin-top: 9px;
}
	&__tel {
	color: var(--addrees-color);
	margin-top: 9px;
}
}
// network

.footer-network{
	margin-bottom: 60px;
	
	@media screen and (min-width: 768px) {
		margin-bottom: 0px;
	}
}
.footer-title {
	font-weight: 700;
	line-height: 1.14;
	font-size: 14px;
	text-transform: uppercase;
	color: var(--main-white-color);
	margin-bottom: 20px;
}

.network-list {
	display: flex;
	justify-content: center;
	gap: 10px;

		&__link {
			width: 44px;
			height: 44px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			background-color: rgba(255, 255, 255, 0.1);
	
			transition: background-color 250ms var(--timing-function);
		}

		&__link:hover,
		&__link:focus {
			background-color: var(--accent-color);
			outline: none;
		}

		&__icon {
			fill: var(--main-white-color);
}
}

//footer form
.subscription-list {

	@media screen and (min-width: 1200px) {
			display: flex;
			justify-content: center;
			gap: 12px;
		}

	&__frm {
		width: 100%;
		height: 50px;
		padding: 15px 16px;
		margin-bottom: 20px;

		border: 1px solid rgba(255, 255, 255, 0.3);
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
		border-radius: 4px;

		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.25;
		letter-spacing: 0.03em;

		color: var(--main-white-color);

		outline: none;
		background-color: var(--secondary-background-color);

			@media screen and (min-width: 768px) {
				width: 450px;
			}
		
			@media screen and (min-width: 1200px) {
				width: 358px;
				margin-bottom: 0px;
			}
	}

	&__frm::placeholder {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.25;
		letter-spacing: 0.03em;

		color: rgba(255, 255, 255, 0.6);
	}

	&__btn {
		color: var(--main-white-color);
		background-color: var(--accent-color);
		font-family: inherit;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.87;
		font-style: normal;
		cursor: pointer;
		letter-spacing: 0.06em;

		position: relative;
		overflow: hidden;

		padding: 10px 32px;
		margin-left: auto;
		margin-right: auto;


		display: flex;
		text-align: center;
		align-items: center;

		border-radius: 4px;
		border: none;

		transition: background-color 250ms var(--timing-function),
		box-shadow 250ms var(--timing-function);

			&:hover,
			&:focus {
				background-color: var(--secondary-accent-color);
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
				outline: none;
			}
	}

		&__icon {
			display: flex;
			fill: var(--main-white-color);
			align-items: center;
			margin-left: 10px;

			transition: transform 250ms var(--timing-function);

			.subscription-list__btn:hover & {
					transform: translateY(-40px);
				}

			&--animation {
					fill: var(--main-white-color);
			
					position: absolute;
					top: 50%;
					right: 32px;
			
					transition: transform 250ms var(--timing-function);
			
					transform: translateY(calc(-50% + 40px));

					.subscription-list__btn:hover & {
							transform: translateY(-50%);
						}
				}
			
		}
}